<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: xx-large; text-align: center;">
     Bienvenido a la Aplicacion
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="center">
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="separador" size="12">
        <ion-button  expand="block" [routerLink]="'../login'" class="btn-box">
          Docente
        </ion-button>
      </ion-col>
      <ion-col class="separador" size= "12">
        <ion-button expand="block" [routerLink]="'../login-alumno'" class="btn-box">
          Alumno
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
